.cm_dataGrid {
	position: relative;
	border: 1px solid #E8F1FB;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-outline-style: none;
	user-select: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: white;
	vertical-align: baseline;
	-moz-user-select: none;
}

.cm_dataGrid_title {
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-user-select: none;
	user-select: none;
	font: 8pt Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-color: #FCFCFC;
	border-bottom: 1px solid #E8F1FB;
	clear: both;
	overflow: hidden;
}

.cm_dataGrid_ttitle {
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 999999px;
	overflow: hidden;
}

.cm_dataGrid_tbutton {
	border: 0 none;
	width: 100%;
	background: transparent;
	margin: 0;
	padding: 0;
	outline: 0;
	text-align: left;
}

.cm_dataGrid_tbutton::-moz-focus-inner {
	border: 0;
}

.cm_dataGrid_tcell {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	border: transparent 1px solid;
	position: relative;
	white-space: nowrap;
	empty-cells: show;
	overflow: hidden;
}

.cm_dataGrid_tcell_right {
	float: none;
}

.cm_dataGrid_tlabel {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: normal;
	margin: 0;
	padding: 0;
	-moz-user-select: text;
}

.cm_dataGrid_tparams {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 16px;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	border-left: 1px solid black;
	padding-left: 1px;
	background-color: transparent;
}

.cm_dataGrid_tpArrow {
	position: absolute;
	left: calc(50% - 4px);
	top: calc(50% - 4px);
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid black;
}

.cm_dataGrid_tcell_filtreable_focus .cm_dataGrid_tparams,
	.cm_dataGrid_tcell_filtreable_over .cm_dataGrid_tparams {
	display: block;
}

.cm_dataGrid_tsizer {
	position: absolute;
	left: 0;
	top: 0;
	width: 6px;
	height: 100%;
	cursor: e-resize;
}

.cm_dataGrid_tcell_right .cm_dataGrid_tsizer {
	
}

.cm_dataGrid_colSizer {
	width: 6px;
}

.cm_dataGrid_thead {
	xxxdisplay: none;
	height: 1px;
	left: -10000px;
	line-height: 0;
	overflow: hidden;
	position: absolute;
	top: auto;
}

.cm_dataGrid_caption {
	xxdisplay: none;
	height: 1px;
	left: -10000px;
	line-height: 0;
	overflow: hidden;
	position: absolute;
	top: auto;
}

.cm_dataGrid_table {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	clear: both;
}

.cm_dataGrid_table_scroll {
	overflow-x: auto;
	overflow-y: auto;
}

.cm_dataGrid_ttable {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 1px;
	xxxtable-layout: fixed;
	border-spacing: 0;
	border-collapse: separate;
	empty-cells: show;
	margin: 0;
	padding: 0;
	border: 0;
}

.cm_dataGrid_row {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.cm_dataGrid_cell {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
	border: transparent 0 solid;
	border-right-width: 1.0001px;
	white-space: nowrap;
	empty-cells: show;
	overflow: hidden;
	text-align: left;
}

.cm_dataGrid_clabel {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: normal;
	margin: 0;
	padding: 0;
	-moz-user-select: text;
}

.cm_dataGrid_talign_right, .cm_dataGrid_talign_right .cm_dataGrid_tbutton,
	.cm_dataGrid_calign_right {
	text-align: right;
}

.cm_dataGrid_talign_center, .cm_dataGrid_talign_center .cm_dataGrid_tbutton,
	.cm_dataGrid_calign_center {
	text-align: center;
}

.cm_dataGrid_talign_left, .cm_dataGrid_talign_left .cm_dataGrid_tbutton,
	.cm_dataGrid_calign_left {
	text-align: left;
}

.cm_dataGrid_colIndent {
	
}

/* -------------------------------------------------------------------------------------- */
/* --- Windows 8 --- */
/* -------------------------------------------------------------------------------------- */
.cm_dataGrid_tlabel, .cm_dataGrid_clabel, .cm_dataGrid_glabel {
	font-size: 9pt;
	font-family: "Segoe WPC", "Segoe UI", Helvetica, Arial,
		"Arial Unicode MS", Sans-Serif;
	font-weight: 500;
}

.cm_dataGrid_tcell {
	border-right-color: #E8F1FB;
	padding: 6px 6px 2px;
}

.cm_dataGrid_tcell_right {
	padding-right: 0;
}

.cm_dataGrid_tcell LABEL {
	color: #4C607A;
}

.cm_dataGrid_tcell_focus, .cm_dataGrid_tcell_over_sortable,
	.cm_dataGrid_tcell_filtreable_over {
	background-color: #F3F8FD;
}

/* "Segoe UI Light",  non supporté par Chrome */
.cm_dataGrid_cell {
	padding: 1px 3px 1px 4px;
	border-right-color: #E8F1FB;
}

.cm_dataGrid_group_focus .cm_dataGrid_gcell, .cm_dataGrid_row_focus .cm_dataGrid_cell,
	.cm_dataGrid_row_selected .cm_dataGrid_cell, .cm_dataGrid_row_over .cm_dataGrid_cell
	{
	padding-bottom: 0;
	border-bottom-width: 1.0001px;
	padding-top: 0;
	border-top-width: 1.0001px;
	border-right-color: transparent;
	border-right-width: 0;
	padding-right: 4px;
}

.cm_dataGrid_row_focus .cm_dataGrid_cfirst, .cm_dataGrid_row_selected .cm_dataGrid_cfirst,
	.cm_dataGrid_row_over .cm_dataGrid_cfirst {
	border-left-width: 1.0001px;
	padding-left: 3px;
}

.cm_dataGrid_row_focus .cm_dataGrid_clast, .cm_dataGrid_row_selected .cm_dataGrid_clast,
	.cm_dataGrid_row_over .cm_dataGrid_clast {
	border-right-width: 1.0001px;
	padding-right: 3px;
}

.cm_dataGrid_row_selected .cm_dataGrid_cell {
	border-color: #DEDEDE;
	background-color: #F7F7F7;
}

.cm_dataGrid_row_over .cm_dataGrid_cell {
	border-color: #70C0E7;
	background-color: #E5F3FB;
}

.cm_dataGrid_table .cm_dataGrid_row_over_selected .cm_dataGrid_cell,
	.cm_dataGrid_table_focus .cm_dataGrid_row_selected .cm_dataGrid_cell {
	border-color: #26A0DA;
	background-color: #CBE8F6;
}

.cm_dataGrid_row_focus .cm_dataGrid_cell {
	border-color: #DEDEDE;
}

.cm_dataGrid_table_focus .cm_dataGrid_row_focus .cm_dataGrid_cell {
	border-color: #3399FF;
}

.cm_dataGrid_row_mouseDown .cm_dataGrid_cell {
	border-color: #26A0DA;
	background-color: #B8E0F3;
}

.cm_dataGrid_tparams {
	border-left-color: #D8E6F5;
}

.cm_dataGrid_tparams:hover {
	background-color: #D0E4FD;
	background-clip: content-box;
}

.cm_dataGrid_tpArrow {
	border-top-color: #4C607A;
}

.cm_dataGrid_tcell_filtreable_focus, .cm_dataGrid_tcell_filtreable_over
	{
	padding-right: 22px;
	background-color: #F3F8FD;
}

.cm_dataGrid_tcell_mouseDown_sortable {
	padding-top: 7px;
	padding-bottom: 1px;
	border-color: #C2CDDB;
	background-color: #F9FAFB;
}

.cm_dataGrid_tcell_descending .cm_dataGrid_tcursor,
	.cm_dataGrid_tcell_ascending .cm_dataGrid_tcursor {
	display: block;
	position: absolute;
	left: calc(50% - 4px);
	top: 2px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #569BC0;
}

.cm_dataGrid_tcell_ascending .cm_dataGrid_tcursor {
	border-bottom: 4px solid #569BC0;
	border-top: none;
}

.cm_dataGrid_gcell {
	padding: 6px 4px 2px 4px;
	outline: 0;
}

.cm_dataGrid_group_focus .cm_dataGrid_gcell {
	padding: 5px 3px 1px 3px;
	border: 1px solid #70C0E7;
}

.cm_dataGrid_group_over .cm_dataGrid_gcell {
	padding: 5px 3px 1px 3px;
	border: 1px solid #70C0E7;
	background-color: #E5F3FB;
}

.cm_dataGrid_gcontainer {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	display: flex;
}

.cm_dataGrid_gexpand {
	flex-grow: 0;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 0 6px 6px;
	border-color: transparent transparent #000000 transparent;
	margin: 8px 4px 4px 4px;
}

.cm_dataGrid_group_collapsed .cm_dataGrid_gexpand {
	border-width: 4px 0 4px 6px;
	border-color: transparent transparent transparent #888;
}

.cm_dataGrid_gexpand:hover {
	border-color: transparent transparent #1CC4F7 transparent;
}

.cm_dataGrid_group_collapsed .cm_dataGrid_gexpand:hover {
	border-color: transparent transparent transparent #1CC4F7;
}

.cm_dataGrid_glabel {
	color: #1E3287;
	font-size: 11pt;
	flex-grow: 0;
}

.cm_dataGrid_gline {
	flex-grow: 1;
	heigth: 1px;
	border-top: 1px solid #E5E5E5;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 12px 8px 0;
}

.cm_dataGrid_row_focus .cm_dataGrid_cell_focus {
	border-left-width: 1.0001px;
	padding-left: 3px;
	border-right-width: 1.0001px;
	padding-right: 3px;
}

.cm_dataGrid_row_focus .cm_dataGrid_cfirst_focus {
	border-right-width: 0;
	padding-right: 4px;
}

.cm_popup {
	position: absolute;
	left: -10000px;
	top: -10000px;
	border: 1px solid #646464;
	box-shadow: 2px 2px 2px #656565;
}

.cm_filtersPopup {
	background-color: #F0F0F0;
}

.cm_filtersPopup_list {
	padding: 1px;
	margin: 0;
	list-style-type: none;
	background: url(filtersPopupBg.png) repeat-y 0 0;
	image-rendering: -moz-crisp-edges;
}

.cm_filtersPopup_item {
	display: flex;
	margin: 1px;
}

.cm_filtersPopup_input {
	flex-grow: 0;
	margin-left: 6px;
	margin-right: 8px;
	vertical-align: middle;
}

.cm_filtersPopup_right {
	padding: 0 4px 0 24px;
	border: 1px solid transparent;
	flex-grow: 1;
	
	background: url(filtersPopupItem.png) no-repeat 0 0 scroll;
	image-rendering: -moz-crisp-edges;
}

.cm_filtersPopup_label {
	font: 8pt Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.cm_filtersPopup_item_over .cm_filtersPopup_right {
	border: 1px solid #26A0DA;
	background-color: #D8E6EE;
}

.cm_filtersPopup_item_over .cm_filtersPopup_right_over {
	background-color: #C0DDEB;
}
