.cm_pager_value,
.cm_pager_label,
.cm_pager_button {
	font-family: "Segoe WPC", "Segoe UI", Helvetica, Arial,
		"Arial Unicode MS", Sans-Serif;
	cursor: pointer;
}

.cm_pager_button_index, .cm_pager_button_uindex, .cm_pager_button_cindex,
	.cm_pager_button_bprev, .cm_pager_button_bnext {
	border: 1px solid transparent;
	background: transparent;
	font-size: 1.5em;
}

.cm_pager_button_bprev, .cm_pager_button_bnext {
	text-weight: bold;
}

.cm_pager_value,
.cm_pager_button_cindex {
	color: #1690CA;
	text-weight: bold;
	font-size: 1.5em;
}

.cm_pager_button:hover {
	border-color: #70C0E7;
	background-color: #E5F3FB;
}

.cm_pager_button:disabled {
	background: transparent;
	border-color: transparent;
	cursor: auto;
}

.cm_pager_button_mouseDown {
	transform: scale(0.9);
}
